* {
  margin: 0;
  padding: 0;
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.navbar-color {
  background-color: rgba(26, 26, 46);
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler {
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.75);
}

.btn-hover,
.btn-focus {
  transition: color 0.2s, box-shadow 0.3s;
}
.btn-hover:hover,
.btn-focus:focus {
  color: rgb(255, 184, 20);
  box-shadow: 0 0 5px rgba(255, 184, 20, 0.8);
}

.text-navbar {
  color: rgba(255, 255, 255, 0.75);
  margin-right: 2em;
  font-size: large;
}

.enlace-logo {
  height: 6.5vh;
}
img {
  height: 100%;
}

.informacion-pag a {
  text-decoration: none;
  color: white;
}

.listNone {
  list-style: none;
}

main {
  background-image: url(../img/ERROR\ 404.png);
  background-size: cover;
  background-position: center;
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h1 {
  color: white;
  font-size: 100px;
}

h2 {
  color: white;
  font-size: 45px;
}

h3 {
  color: white;
}

h4 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
}

footer {
  margin-top: auto;
}

.icons a {
  text-decoration: none;
  color: white;
}

.container-fluid {
  background-color: RGB(26, 26, 46);
  color: white;
}

body {
  overflow: auto;
}

.linea {
  top: 50%;
  width: 50%;
  border-top: 2px solid rgb(255, 255, 255);
  transform: translateY(-50%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton {
  background-color: RGB(228, 161, 2);
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 5px;
}
