* {
  margin: 0;
  padding: 0;
}

.imagen-izquierda {
  background-image: url("/img/League\ of\ Legends.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 90%;
}

.custom-input {
  border: 2px solid RGB(26, 26, 46);
  border-radius: 5px;
}

.custom-input:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}
.bg-nav {
  background-color: RGB(26, 26, 46);
}

.slide2:hover,
.slide2:focus {
  box-shadow: inset 25em 0 0 0 var(--hover);
}

.slide2 {
  --color: RGB(26, 26, 46);
  --hover: #ff0000;
}

.slide2 {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 10px;
}

.slide2:hover,
.slide2:focus {
  border-color: var(--hover);
  color: #fff;
}

.slide2 {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 10px;
}

.slide:hover,
.slide:focus {
  box-shadow: inset 25em 0 0 0 var(--hover);
}

.slide {
  --color: RGB(26, 26, 46);
  --hover: RGB(228, 161, 2);
}

.slide {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 10px;
}
.slide:hover,
.slide:focus {
  border-color: var(--hover);
  color: #fff;
}

.slide {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 10px;
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.navbar-color {
  background-color: rgba(26, 26, 46);
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler {
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.75);
}

.btn-hover,
.btn-focus {
  transition: color 0.2s, box-shadow 0.3s;
}
.btn-hover:hover,
.btn-focus:focus {
  color: rgb(255, 184, 20);
  box-shadow: 0 0 5px rgba(255, 184, 20, 0.8);
}

.text-navbar {
  color: RGB(255, 255, 255);
  margin-right: 2em;
  font-size: large;
}

.enlace-logo {
  height: 6.5vh;
}
img {
  height: 100%;
}

.containerFooter {
  background-color: RGB(26, 26, 46);
  color: white;
}

.informacion-pag a {
  text-decoration: none;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}

.icons a {
  text-decoration: none;
  color: white;
}

.listNone {
  list-style: none;
}
