* {
  margin: 0;
  padding: 0;
}

.container-QS {
  background-color: RGB(51, 51, 51);
  color: black;
}

.QN {
  background-color: white;
  text-align: center;
}

.container-fluid {
  background-color: RGB(26, 26, 46);
  color: white;
}

.informacion-pag a {
  text-decoration: none;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}

.icons a {
  text-decoration: none;
  color: white;
}
